body{
    height: 250px;
    width: 250px;
    background-color: rgb(231, 241, 241);
    display: flex;
    justify-content: center;
}

p{
    display: inline-flex;
    margin: auto 10px;
    font-size: 22px;
    color: rgb(63, 57, 57);
    border-radius: 8px;
    border: 1px solid wheat;
    padding: 10px;
}
h3{
    color: darkcyan
}